<form class="row g-3">
  <h2>Registar Profissional</h2>
  <!-- Personal data report-->
  <h5>Dados Pessoais</h5>
  <div class="col-md-3">
    <label for="bi" class="form-label">BI/PS/CT</label>
    <input type="text" class="form-control" id="bi" />
  </div>
  <div class="col-md-3">
    <label for="inputName" class="form-label">Nome</label>
    <input type="text" class="form-control" id="inputName" />
  </div>
  <div class="col-md-3">
    <label for="inputPassword4" class="form-label">Apelido</label>
    <input type="name" class="form-control" id="inputPassword4" />
  </div>
  <div class="col-md-2">
    <label for="tiposexo" class="form-label">Sexo</label>
    <select id="sexo" class="form-select">
      <option selected>Selecciona...</option>
      <option>masculino</option>
      <option>femenino</option>
    </select>
  </div>
  <div class="col-md-1">
    <label for="inputDataNascimento" class="form-label">Data nasc.</label>
    <input
      type="aniversario"
      class="form-control"
      id="aniversario"
      placeholder="Dia/Mes/Ano"
    />
    <br />
  </div>
  <!-- Professional data report-->
  <div class="container-fluid" style="border: 1px solid #330cdd">
    <div class="row">
      <div class="col-md-2">
        <label for="estudos" class="form-label">Estudos</label>
        <select id="estudos" class="form-select">
          <option selected>Selecciona...</option>
          <option>Basico</option>
          <option>Medio</option>
          <option>Superior</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="profissao" class="form-label">Profissão</label>
        <select id="profissao" class="form-select">
          <option selected>Selecciona...</option>
          <option>motorista</option>
          <option>cobrador</option>
          <option>mecanico</option>
          <option>auxiliar</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="experiencia" class="form-label">Anos de Experiencia</label>
        <select id="experiencia" class="form-select">
          <option selected>Selecciona...</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="scivil" class="form-label">Estado Civil</label>
        <select id="scivil" class="form-select">
          <option selected>Selecciona...</option>
          <option>solteiro</option>
          <option>casado</option>
          <option>viuvo</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="slaboral" class="form-label">Situação Laboral</label>
        <select id="slaboral" class="form-select">
          <option selected>Selecciona...</option>
          <option>Empregado</option>
          <option>Desempregado</option>
          <option>Reformado</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="nfilhos" class="form-label">Filhos</label>
        <select id="nfilhos" class="form-select">
          <option selected>Selecciona...</option>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
        </select>
      </div>
    </div>
  </div>
  <!-- Contactos-->
  <span class="placeholder col-12 bg-info"></span>
  <h5>Contactos e Morada</h5>
  <div class="col-3">
    <label for="tlfp" class="form-label">Telefone Principal</label>
    <input
      type="text"
      class="form-control"
      id="telefoneprincipal"
      placeholder="Nº de telefone principal"
    />
  </div>
  <div class="col-3">
    <label for="tlfs" class="form-label">Outro Contacto/Telefone</label>
    <input
      type="text"
      class="form-control"
      id="telefonesecundario"
      placeholder="Nº de telefone secundario"
    />
  </div>
  <div class="col-6">
    <label for="email" class="form-label">E-mail</label>
    <input type="text" class="form-control" id="email" placeholder="E-mail" />
  </div>
  <div class="col-12">
    <label for="morada" class="form-label">Morada</label>
    <input
      type="text"
      class="form-control"
      id="morada"
      placeholder="Bairro, Rua ou Avenida, Edificio, Andar,  Porta, Nº"
    />
  </div>
  <div class="col-md-6">
    <label for="Provincia" class="form-label">Provincia</label>
    <select id="Municipio" class="form-select">
      <option selected>Selecciona...</option>
      <option>Luanda</option>
      <option>Benguela</option>
      <option>Huila</option>
      <option>Huambo</option>
      <option>Bengo</option>
      <option>Malanje</option>
      <option>Lunda Norte</option>
      <option>Lunda Sul</option>
      <option>Moxico</option>
      <option>kuando Kubango</option>
      <option>Uige</option>
      <option>Cabinda</option>
      <option>Bie</option>
      <option>Kwanza Sul</option>
      <option>Kwanza Norte</option>
      <option>Zaire</option>
      <option>Kunene</option>
      <option>Namibe</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="Municipio" class="form-label">Municipio</label>
    <select id="Municipio" class="form-select">
      <option selected>Selecciona...</option>
      <option>Luanda</option>
      <option>Viana</option>
      <option>K.Kiaxi</option>
      <option>Maianga</option>
      <option>Cazenga</option>
      <option>Ngombotas</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="codigoPostal" class="form-label">Codigo Postal</label>
    <input type="text" class="form-control" id="codigoPostal" />
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" />
      <label class="form-check-label" for="gridCheck">
        verificar informação
      </label>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <button type="submit" class="btn btn-primary">Validar Registo</button>
  </div>
</form>
