<div class="row g-0">
  <div class="col-12">
    <div class="leftside">
      <img
        src="./assets/images/login-03.jpg"
        class="img-fluid"
        class="responsive"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="col-12">
    <div class="rightside">
      <form>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            aria-describedby="emailHelp"
            placeholder="Introduz o e-mail"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            placeholder="Introduz a Password"
          />
        </div>
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary">Login on system</button>
        </div>
      </form>
    </div>
  </div>
</div>
