<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="./assets/images/repair-36-256.png" />
        <div class="card-body">
          <h5 class="card-title">Veiculos Avariados</h5>
          <p class="card-text">450</p>
          <a href="#" class="btn btn-primary">estado</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="./assets/images/taxi-icon-clipart-md.png"
        />
        <div class="card-body">
          <h5 class="card-title">Taxis em Linha</h5>
          <p class="card-text">53.639</p>
          <a href="/trafico" class="btn btn-primary">ver mapa</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="./assets/images/car-accident-sign-.png"
        />
        <div class="card-body">
          <h5 class="card-title">Accidentes</h5>
          <p class="card-text">42</p>
          <a href="#" class="btn btn-primary">detalhes</a>
        </div>
      </div>
    </div>
  </div>
</div>
