<br />
<h2>
  Consultar Dados dos Profissionais
  <h2>
    <h5>Ficha Pessoal</h5>
    <br />
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <form class="form-inline">
            <div class="input-group">
              <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="BI, PS, CT, Codigo"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                Procurar
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </h2>
</h2>
